* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-image: url('https://img.freepik.com/free-vector/abstract-yellow-comic-zoom_1409-923.jpg');
    height: 100%; 
    background-size: cover;
}
body,
input,
textarea,
select,
button {
  color: white;
  font: 300 1.7rem "Roboto", sans-serif;
  background-color: #313133;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

/* Topic */
h1{
  font-family: 'Rajdhani' !important;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}
/* Pokemon Search Box */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(270px,0.5fr));
  margin-top: 20px;
}
.searchBox input {
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  height: 50px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
}

.searchBox button {
  border-radius: 0 8px 8px 0;
  border: 0;
  height: 50px;
  padding: 4px 16px;
  background-color: white;
}

/* Pokemon Card */
.card{
  display: flex;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(270px,0.5fr));
  color: #313131;
  font-family: 'Rajdhani' !important;
}
p{
  visibility: hidden;
  
}
.pokemonBox { 
  width: 400px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 25px #48C9B0 ;
  background-color: white;
  transition: 0.5s;
  margin-top: 30px;
  font-size: 25px;
}
.pokemonBox img {
  height: 380px;
  transition: 0.6s;
}
.pokemonBox .pokemonInfos p {
  margin: 5px;
  font-size: 20px;
  color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
  visibility: visible;
}
.pokemonBox .pokemonInfos {
  padding: 1rem;
}
.BG{
  transition: 0.7s;
  background-size: 125%;
  
	background-repeat: no-repeat;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80ff523f-ff84-457d-a547-464588d3a3d3/dfvp0rj-187fda5b-ec93-4539-bb8c-471981888b7f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwZmY1MjNmLWZmODQtNDU3ZC1hNTQ3LTQ2NDU4OGQzYTNkM1wvZGZ2cDByai0xODdmZGE1Yi1lYzkzLTQ1MzktYmI4Yy00NzE5ODE4ODhiN2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ic8XQXk_jsJw9n_lM13YhCupsATS8YELhhx3qz9LyEM');
}
.pokemonBox:hover .BG{
  background-size: 130%;
}
.pokemonBox:hover img {
  transform: scale(1.08);
}
.pokemonBox:hover { 
  box-shadow: 0 0 35px #48C9B0 ;
  transform: scale(1.015);
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      background-image: url('https://img.freepik.com/free-vector/abstract-yellow-comic-zoom_1409-923.jpg');
      background-size: 310%;
      background-position:50% 0%;
    }
    body,
    input,
    textarea,
    select,
    button {
    color: white;
    font: 300 1.2rem "Roboto", sans-serif;
    background-color: #313133;
  }
  /* Topic */
  h1{
    font-family: 'Rajdhani' !important;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-weight: 2000;
  }
  /* Pokemon Card */
  .pokemonBox { 
    width: 300px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 25px #48C9B0 ;
    background-color: white;
    transition: 0.5s;
    margin: 30px;
    font-size: 30px;
  }
  .pokemonBox img {
    height: 300px;
    transition: 0.6s;
  }
  .pokemonBox p {
    margin-top: 5px;
    font-size: 20px;
    color: gray;
  }
  .pokemonBox .pokemonInfos {
    padding: 1rem;
  }
  .BG{
    transition: 0.7s;
    background-size: 125%;
    
    background-repeat: no-repeat;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80ff523f-ff84-457d-a547-464588d3a3d3/dfvp0rj-187fda5b-ec93-4539-bb8c-471981888b7f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwZmY1MjNmLWZmODQtNDU3ZC1hNTQ3LTQ2NDU4OGQzYTNkM1wvZGZ2cDByai0xODdmZGE1Yi1lYzkzLTQ1MzktYmI4Yy00NzE5ODE4ODhiN2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ic8XQXk_jsJw9n_lM13YhCupsATS8YELhhx3qz9LyEM');
  }
  .BG:hover{
    background-size: 130%;
  }
  .pokemonBox:hover img {
    transform: scale(1.08);
  }
  .pokemonBox:hover { 
    box-shadow: 0 0 35px #48C9B0 ;
    transform: scale(1.01);
  }
}